<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="#console" class="show_panel">控制台</a></li>
            <li class="layui-nav-item"><a href="#manage" class="show_panel">商品管理</a></li>
            <li class="layui-nav-item"><a href="#user" class="show_panel">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="#email" class="show_panel">邮件管理</a></dd>
                    <dd><a href="#message" class="show_panel">消息管理</a></dd>
                    <dd><a href="#authority" class="show_panel">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                   <span id="username"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="login.html">登录</a></li>
            <li class="layui-nav-item"><a href="register.html">注册</a></li>
            <li class="layui-nav-item" id="logout"><a href="javascript:;">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="#allProducts">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#list1_1" class="show_panel">列表一</a></dd>
                        <dd><a href="#list1_2" class="show_panel">列表二</a></dd>
                        <dd><a href="#list1_3" class="show_panel">列表三</a></dd>
                        <dd><a href="#list1_link">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="#solution">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#list2_1" class="show_panel">列表一</a></dd>
                        <dd><a href="#list2_2" class="show_panel">列表二</a></dd>
                        <dd><a href="#list2_link">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="#cloud" class="show_panel">云市场</a></li>
                <li class="layui-nav-item"><a href="#issue" class="show_panel">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" id="content">
        <!-- 内容主体区域 -->
        <!--<div class="layui-carousel" id="test10">
            <div carousel-item="">
               <div><img src="../image/1.png"></div>
                <div><img src="../image/2.png"></div>
                <div><img src="../image/3.png"></div>
                <div><img src="../image/4.png"></div>
                <div><img src="../image/5.png"></div>
                <div><img src="../image/6.png"></div>
                <div><img src="../image/7.png"></div>
            </div>
        </div>-->
        <div id="console" class="showPanel">控制台</div>
        <div id="manage" class="showPanel">商品管理</div>
        <div id="user" class="showPanel">用户</div>
        <div id="email" class="showPanel">邮件管理</div>
        <div id="message" class="showPanel">消息管理</div>
        <div id="authority" class="showPanel">授权管理</div>
        <div id="allProducts" class="showPanel">所有商品</div>
        <div id="list1_1" class="showPanel">列表一</div>
        <div id="list1_2" class="showPanel">列表二</div>
        <div id="list1_3" class="showPanel">列表三</div>
        <div id="solution" class="showPanel">解决方案</div>
        <div id="list2_1" class="showPanel">列表一</div>
        <div id="list2_2" class="showPanel">列表二</div>
        <div id="cloud" class="showPanel">云市场</div>
        <div id="issue" class="showPanel">发布商品</div>
        <div id="list1_link" class="showPanel">超链接</div>
        <div id="list2_link" class="showPanel">超链接</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="../js/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
            ,form = layui.form;

        //常规轮播
        carousel.render({
            elem: '#test1'
            ,arrow: 'always'
        });

        //改变下时间间隔、动画类型、高度
        carousel.render({
            elem: '#test2'
            ,interval: 1800
            ,anim: 'fade'
            ,height: '120px'
        });

        //设定各种参数
        var ins3 = carousel.render({
            elem: '#test3'
        });
        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '778px'
            ,height: '440px'
            ,interval: 5000
        });

        //事件
        carousel.on('change(test4)', function(res){
            console.log(res)
        });

        var $ = layui.$, active = {
            set: function(othis){
                var THIS = 'layui-bg-normal'
                    ,key = othis.data('key')
                    ,options = {};

                othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                options[key] = othis.data('value');
                ins3.reload(options);
            }
        };

        //监听开关
        form.on('switch(autoplay)', function(){
            ins3.reload({
                autoplay: this.checked
            });
        });

        $('.demoSet').on('keyup', function(){
            var value = this.value
                ,options = {};
            if(!/^\d+$/.test(value)) return;

            options[this.name] = value;
            ins3.reload(options);
        });

        //其它示例
        $('.demoTest .layui-btn').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
</script>
</body>
</html>